body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    /* text-align: center; */
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #333;
    /* min-height: 100vh; */
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.App-link {
    color: #09d3ac;
}

/* Bootstrap specific css */
.card {
    width: 19rem;
}

.progress {
    width: 19rem;
    background-color: lightblue;
    height: 0.4rem;
}

.progress-bar {
    width: 50%;
}

.slide-in-top {
    -webkit-animation: slide-in-top 2s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    animation: slide-in-top 2s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
}
.App-header {
    background: black;
    animation: color-me-in 5s; /* other keywords like "infinite alternate" can be useful here */
}

@keyframes color-me-in {
    /* You could think of as "step 1" */
    0% {
        background: orange;
    }
    /* You could think of as "step 2" */
    100% {
        background: black;
    }
}
